In [4]:
import os

import torch
from torch.utils.data import Dataset
import pandas as pd

In [13]:
data = {'Title': ['Homo Sapiens', 
                 'Homo Deus', 
                 'Octopus']}

# Create a Pandas DataFrame with the data
df = pd.DataFrame(data)

In [14]:
df

          Title
0  Homo Sapiens
1     Homo Deus
2       Octopus

In [ ]:
class PetDataset(Dataset):
    def __init__(self, dataframe, transform):
        self.dataframe = self.dataframe
        self.transform = transform
    
    def __len__(self):
        return len(self.annotations)
    
    def __getitem__(self, index):